# Python
*.pyc
__pycache__/

# Django
*.log
*.sqlite3
db.sqlite3

# Virtualenv
backend/.venv/
backend/.env

# Static / Media
staticfiles/
media/

# IDEs/Editors
.vscode/
.idea/
*.swp

# Node.js (falls im frontend benötigt)
node_modules/
dist/

# Backups
CommitsBackup/

# AAB
AppBundles/

# Documents
Documents/