# Python
*.pyc
__pycache__/

# Django
backend/*.log
backend/*.sqlite3
backend/db.sqlite3

# Virtualenv
backend/.venv/
backend/.env

# Static / Media
backend/staticfiles/
backend/media/

# IDEs/Editors
.vscode/
.idea/
*.swp

# Node.js (falls im frontend benötigt)
node_modules/
dist/

# Backups
CommitsBackup/

# AAB
AppBundles/

# Documents
Documents/